body {
    margin:0 0;
    padding: 0 0;
}

a {
    text-decoration: none;
}

.container {
  margin: 1em 1em;
  margin-top: 2em;
}

textarea {
    display: block;
    resize: none;

  position: relative;
  width: 100%;
  height: 14em;

  color: rgba(0, 0, 0, .4);
  font-size: 1em;

  border: none;
  /*border-top: solid 2px rgba(0, 0, 0, .4);*/
  border-bottom: solid 2px rgba(0, 0, 0, .4);

  transition: ease .8s;
}

textarea::-webkit-input-placeholder {
    transition: ease .8s;
}

textarea:focus::-webkit-input-placeholder {
    color: rgb(200, 200, 200);
    opacity: 1;
}

textarea:focus {
  outline: none;
  color: rgba(0, 0, 0, 1);
  border-bottom-color: rgba(0, 255, 175, 1);
   /*border-top-color:   rgba(0, 255, 175, 1); */
}

.input {
  display: block;
  cursor: pointer;

  position: relative;
  margin-top: 1.5em;
  width: 230px;
  height: 77px;

  color: rgba(0, 0, 0, .4);
  font-size: 1em;
    border: 1px dashed;

    transition: ease .8s;
}

.button {
  display: block;
  -webkit-user-select: none;

  position: relative;
  padding: 0 1.2em;
  width: calc(100% - 2em);
  height: 2.5em;

  color: aliceblue;
  background-color: rgb(250, 0, 0);

  text-align: center;
  line-height: 2.5em;
  cursor: pointer;

  margin-top: 1.5em;

  border-radius: .5em;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);

  transition: ease .8s;
}

.input {
    clip:rect(0 0 0 0);
}

.input:focus {
    outline: none;
}

.button:hover {
  background-color: rgb(230, 0, 0);
  color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .6);
}

.button:active {
   box-shadow: 2px 2px 1px rgba(0, 0, 0, 0);
    background-color: rgb(220, 50, 0);
    left: 2px;
    top: 1px;

    transition: none;
}
